@model PassionProject.Models.StudentDto

@{
    ViewBag.Title = "Deleteconfirm";
}

<h2>Delete</h2>
<h2>Are you sure you want to delete this student?</h2>
<a href="/Student/List">Cancel</a>
<h3>Name: @Model.FirstName</h3>

<a href="/Student/List">Go back to List</a>

<a href="/Student/Update/{id}" >Update</a>
<a href="/Student/Delete?Student">Delete</a>
<br />
<form action="/Student/Delete/@Model.StudentId " method="POST">
    <input type="text" value=" @Model.FirstName" />
    <br />

    <input type="text" value="@Model.LastName" />
    <input type="text" value="@Model.StudentId" />
    <div>
        <input type="submit" value="Add" />
    </div>
</form>








