@{
    ViewBag.Title = "Create";
}

<h2>Create Course</h2>
<form action="/Course/Create" method="POST">
    <div>
        <label>CourseName:</label> <input type="text" name="CourseName" />
    </div>
    <div>
        <label>Lastname:</label> <input type="text" name="LastName" />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>

